:root {
  --clr-primary: #f90;
  --clr-primary-alt: #fa3;
}

body {
  background-color: #333;
  color: #ccc;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem 50vh;
}

code {
  background-color: #444;
  color: #ccc;
  padding: 0.1rem 0.3rem;
  font-family: "Courier New", Courier, monospace;
  font-size: .9em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.1rem;
}

a {
  color: var(--clr-primary);
}

a:visited {
  color: var(--clr-primary-alt);
}