<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title}} | img.jst.dev</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <header>
        <h1><a href='/admin'>img.jst.dev</a></h1>
    </header>
    <nav>
        <ul>
            <li><a href="/admin/images">images</a></li>
            <li><a href="/admin/add">add</a></li>
        </ul>
    </nav>
    <main>
        {{template "main" .}}
    </main>
    <footer>
        <p>footer</p>
    </footer>
</body>

</html>
{{define "main"}}
<h2>placeholder</h2>
{{end}}